[submodule "themes/hugo-academic-group"]
	path = themes/hugo-academic-group
	url = git@github.com:biaslab/hugo-academic-group.git
[submodule "themes/academic-group"]
	path = themes/academic-group
	url = git@github.com:biaslab/hugo-academic-group.git
